<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let Review of ReviewList">
    <ion-card-header>
      <ion-card-title>{{Review.ReviewDate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li><b>What went good :</b> {{Review.ReviewData.goodthing}}</li>
        <li><b>What went could have gone better :</b> {{Review.ReviewData.couldHavegoneBetter}}</li>
        <li><b>Conclusion :</b> {{Review.ReviewData.Conclusion}}</li>
        <li><b>Things learned in professional life :</b> {{Review.ReviewData.professionalLearning}}</li>
        <li><b>Things learned in personal life :</b> {{Review.ReviewData.personalLearning}}</li>
        <li><b>Physical Check :</b> {{Review.ReviewData.physicalCheck}}</li>
        <li><b>Emotional Check :</b> {{Review.ReviewData.emotionalCheck}}</li>
        <li><b>Gratitue Check :</b>  {{Review.ReviewData.grateful}}</li>
        <li><b>Creativity Check :</b> {{Review.ReviewData.creativity}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
